<div class="container-fluid">
    <app-page-title title="Clients"></app-page-title>
    <div class="d-flex flex-column col-sm-12 col-md-4">
        <div class="search-box me-2 mb-2 d-inline-block">
            <div class="position-relative">
                <input type="text" class="form-control" autocomplete="off" id="searchTableList" placeholder="Rechercher..." [(ngModel)]="searchClient" (input)="searchEmployeBy()">
                <i class="bx bx-search-alt search-icon"></i>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mb-2">
        <button *ngIf="crmPermissions?.ajouter" type="button" class="btn btn-success" (click)="addModal()">+ Ajouter</button>
    </div>

    <div class="table-responsive mb-0">
        <table class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check" id="order-list">
            <thead class="table-light">
                <tr>
                    <th class="align-middle">Label</th>
                    <th class="align-middle">Nom</th>
                    <th class="align-middle">Email</th>
                    <th class="align-middle">Adresse</th>
                    <th class="align-middle">Téléphone</th>
                    <th class="align-middle">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
                    <td>{{ client.label }}</td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.adresse }}</td>
                    <td>{{ client.tel }}</td>
                    <td>
                        <div class="d-flex gap-3">
                            <a *ngIf="crmPermissions?.modifier" href="javascript:void(0);" class="text-success" (click)="editModal(client)"><i class="mdi mdi-pencil font-size-18"></i></a>
                            <a *ngIf="crmPermissions?.supprimer" href="javascript:void(0);" class="text-danger" (click)="deleteModule(client.id)"><i class="mdi mdi-delete font-size-18"></i></a>
                            <button class="btn btn-primary" [routerLink]="['map',client.id]">
                                <i class="mdi mdi-map-marker-outline "></i>
                            </button>
                              
                              
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <!-- Modale pour Ajouter -->
    <div bsModal #add="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un Client</h5>
                    <button type="button" class="btn-close" (click)="add?.hide()"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addForm" (ngSubmit)="onAddClient()">
                        <div class="mb-3">
                            <label for="label" class="form-label">Label</label>
                            <input type="text" class="form-control" id="label" formControlName="label">
                        </div>
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="nom" formControlName="nom">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label for="adresse" class="form-label">Adresse</label>
                            <input type="text" class="form-control" id="adresse" formControlName="adresse">
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Téléphone</label>
                            <input type="text" class="form-control" id="tel" formControlName="tel">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="add?.hide()">Fermer</button>
                            <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modale pour Éditer -->
    <div bsModal #edit="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier un Client</h5>
                    <button type="button" class="btn-close" (click)="edit?.hide()"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editForm" (ngSubmit)="onUpdateModule()">
                        <div class="mb-3">
                            <label for="label" class="form-label">Label</label>
                            <input type="text" class="form-control" id="edit-label" formControlName="label">
                        </div>
                        <div class="mb-3">
                            <label for="edit-nom" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="edit-nom" formControlName="nom">
                        </div>
                        <div class="mb-3">
                            <label for="edit-email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="edit-email" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label for="edit-adresse" class="form-label">Adresse</label>
                            <input type="text" class="form-control" id="edit-adresse" formControlName="adresse">
                        </div>
                        <div class="mb-3">
                            <label for="edit-tel" class="form-label">Téléphone</label>
                            <input type="text" class="form-control" id="edit-tel" formControlName="tel">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="edit?.hide()">Fermer</button>
                            <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

