<div class="container-fluid" style="margin-top: 100px;">
    <app-page-title title="Vente"></app-page-title>
    
    <div class="row">
        <div class="col-md-4 col-sm-6 mb-4" >
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Devis</h5>
                    <a routerLink="/devis" class="btn btn-primary">Ouvrir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4" >
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Bon de commande</h5>
                    <a routerLink="/commande" class="btn btn-primary">Ouvrir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4" >
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Bon de livraison</h5>
                    <a routerLink="/livraison" class="btn btn-primary">Ouvrir</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 mb-4" >
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Facture</h5>
                    <a routerLink="/facture" class="btn btn-primary">Ouvrir</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 mb-4" >
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Bon de sortie</h5>
                    <a routerLink="" class="btn btn-primary">Ouvrir</a>
                </div>
            </div>
        </div>
    </div>
</div>